@(title: String)
<head>
        
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="@routes.Assets.versioned("stylesheets/style.css")" rel='stylesheet' type='text/css' />
		<link href="@routes.Assets.versioned("stylesheets/font-awesome.css")" rel="stylesheet">
		<link href="@routes.Assets.versioned("stylesheets/SidebarNav.min.css")" media='all' rel='stylesheet' type='text/css'/>
		<script src="@routes.Assets.versioned("javascripts/jquery-1.11.1.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/modernizr.custom.js")"></script>
		<link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
		<script src="@routes.Assets.versioned("javascripts/Chart.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/metisMenu.min.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/custom.js")"></script>
		<link href="@routes.Assets.versioned("stylesheets/custom.css")" rel="stylesheet">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="@routes.Assets.versioned("javascripts/amcharts.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/serial.js")"></script>
		<script src="@routes.Assets.versioned("javascripts/export.min.js")"></script>
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/export.css")" type="text/css" media="all" />
		<script src="@routes.Assets.versioned("javascripts/light.js")"></script>
</head>


							<div class="sticky-header header-section ">
								<div class="header-left">
									<button id="showLeftPush">
										<i class="fa fa-bars"></i>
									</button>
									<div class="profile_details_left">
										<ul class="nofitications-dropdown">
											<li class="dropdown head-dpdn">
												<button type="button" class="btn btn-primary btn-flat btn-pri" onclick="location.href='@controllers.routes.ClientController.viewClient';">
													<i class="fa fa-user" aria-hidden="true"></i>Manage Clients
												</button>
											</li>
										</ul>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
	

